

services:
  mlflow-postgres-db:
    container_name: mlflow-backend-store
    image: postgres:14
    env_file:
      - .envs/.postgres
    volumes:
      - postgres-mlflow-data:/var/lib/postgresql/data
  
  mlflow-tracking-server:
    image: local-mlflow-tracking-server
    container_name: local-mlflow-tracking-server
    #entrypoint: ["sleep", "1000000000"]
    #user: root
    build:
      context: .
      dockerfile: ./docker/dockerfile_mlflow
      args:
        USER_NAME: ${USER_NAME}
        USER_ID: ${USER_ID}   
    ports:
      - 8080:8080
    env_file:
      - .envs/.postgres
      - .envs/.mlflow
    depends_on:
      - mlflow-postgres-db
    volumes:
      - ~/.config/gcloud/:/home/${USER_NAME}/.config/gcloud
    
  fastapi-server:
    image: fastapi-server
    container_name: fastapi-server
    build:
      context: .
      dockerfile: ./docker/dockerfile_fastapi
      args:
        USER_NAME: ${USER_NAME}
        USER_ID: ${USER_ID}
    ports:
      - 8000:8000
    environment:
      - TRACKING_URI=http://local-mlflow-tracking-server:8080
      - MLFLOW_TRACKING_USERNAME=admin
      - MLFLOW_TRACKING_PASSWORD=password
    depends_on: 
      - mlflow-tracking-server
  
  
    ipc: host
    init: true
  

volumes:
  postgres-mlflow-data:
  
    

