apiVersion: v1
kind: Secret
metadata:
  name: {{ include "mlflow.fullname" . }}
data:
  {{- range $key, $val := .Values.envSecrets }}
  {{ $key }}: {{ $val | b64enc | quote }}
  {{- end}}

  {{- range $key, $val := .Values.fileSecrets }}
  {{ $key }}: {{ $val.value  quote }}
  {{- end}}
