
data: 
  #raw_data_path: ./data/raw/london_weather.csv
  #clean_data_path: ./data/preprocessed/london_weather.csv
  raw_data_path: gs://temperature-prediction-data/raw_data/london_weather.csv
  clean_data_path: gs://temperature-prediction-preprocessed-data/london_weather.csv
 
train:
  test_size: 0.33
  random_state: 1


models:

  - name: LinearRegression
    params: 
      fit_intercept: True
      n_jobs: -1
    store_path: ./models/
    store_filename: LinearRegression.pkl

  - name: DecisionTreeRegressor
    params:
      random_state: 42
      max_depth: 10
    store_path: ./models/
    store_filename: DecisionTreeRegressor.pkl


  - name: RandomForestRegressor
    params:
      random_state: 42
      max_depth: 10
    store_path: ./models/
    store_filename: RandomForestRegressor.pkl
  

evaluate:
  metric: root_mean_squared_error




  