apiVersion: apps/v1
kind: Deployement
metadata: 
  name: fastapi-deployment
  labels: 
    app: fastapi
spec:
  replicas: 1
  selector: 
    matchLabels:
      app: fastapi
    template:
      metadata:
        labels:
          app: fastapi
      spec:
        containers:
          - name: fastapi
            image: europe-west4-docker.pkg.dev/temperature-predictor-441809/temperature-prediction/temperature-prediction-fastapi:latest
            imagePullPolicy: Always
            ports:
              - ContainerPort: 8000
          imagePullSecrets:
            - name: gcr-creds

